<div id="listing">
<p id="notice"><%= notice %></p>

<h1>Show Enrollment</h1>

<hr>

<div id="table">
<p>
  <strong>Student ID:</strong>
  <%= @enroll.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @enroll.course_id %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @enroll.percentage %>%
</p>

<p>
  <strong>Letter Grade:</strong>
  <%= @enroll.lettergrade %>
</p>

<p id="edit">
  <%= link_to 'Edit', edit_enroll_path(@enroll) %>
</p>

</div>

<hr>

<%= link_to 'Back', enrolls_path %>
</div>
