<div id="listing">
<p id="notice"><%= notice %></p>

<h1>Show Student</h1>

<hr>
<div id="table">
<p>
  <font id="size">
    <strong>Student ID:</strong>
    <%= @student.student_id %>
  </font>
</p>

<p>
  <font id="size">
    <strong>Name:</strong>
    <%= @student.name %>
  </font>
</p>

<p>
  <font id="size">
    <strong>Email:</strong>
    <%= @student.email %>
  </font>
</p>

<p id="edit">
  <%= link_to 'Edit', edit_student_path(@student) %>
</p>

<table id="center" align="center">
  <thead>
    <tr>
      <th>Course</th>
      <th>Percentage</th>
      <th>Lettergrade</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @enrolls.each do |enroll| %>
      <tr>
        <td>
          <font id="size">
            <%= enroll.course_id %>
          </font>
        </td>
        <td>
          <font id="size">
            <%= enroll.percentage %>%
          </font>
        </td>
        <td>
          <font id="size">
            <%= enroll.lettergrade %>
          </font>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<hr>

<%= link_to 'Back', students_path %>
</div>
