<div id="listing">
<p id="notice"><%= notice %></p>

<h1>Show Student</h1>

<hr>
<div id="table">
<p>
  <strong>Student ID:</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p id="edit">
  <%= link_to 'Edit', edit_student_path(@student) %>
</p>

<table id="center" align="center">
  <thead>
    <tr>
      <th>Course</th>
      <th>Percentage</th>
      <th>Lettergrade</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @enrolls.each do |enroll| %>
      <tr>
        <td><%= enroll.course_id %></td>
        <td><%= enroll.percentage %>%</td>
        <td><%= enroll.lettergrade %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<hr>

<%= link_to 'Back', students_path %>
</div>
