<p id="notice"><%= notice %></p>

<div id="listing">
<h1>All Courses</h1>

<hr>

<div id="table">
<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_id %></td>
        <td><%= course.description %></td>
        <td>
          <%= link_to 'Show', course %> <br>
          <%= link_to 'Edit', edit_course_path(course) %> <br>
          <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td id="links" colspan="3">
        <br>
        <%= link_to 'New Course', new_course_path %>
      </td>
    </tr>
  </tbody>
</table>
</div>

<hr>

<%= link_to 'View All Students', :controller =>"students" %> |
<%= link_to 'View All Enrollments', :controller =>"enrolls" %>
</div>
