<script>
  grades = <%= @eGrades.to_json %>;
  for(var i=0; i<(grades.length); i++) {
    grades[i] = parseFloat(grades[i]);
  }
</script>

<div id="listing">
<p id="notice"><%= notice %></p>
<p id="name">
  <h1><%= @course.course_id %></h1>
</p>

<hr>

<div id="table">

<p>
  <font id="size">
    <strong>Description:</strong>
  </font>
</p>
<p>
  <font id="size">
    <%= @course.description %>
  </font>
</p>
<p id="edit">
  <%= link_to 'Edit', edit_course_path(@course) %>
</p>

<table id="center" align="center">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Course</th>
      <th>Percentage</th>
      <th>Letter Grade</th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @enrolls.each do |enroll| %>
      <tr>
        <td>
          <font id="size">
            <%= enroll.student_id %>
          </font>
        </td>
        <td>
          <font id="size">
            <%= enroll.course_id %>
          </font>
        </td>
        <td>
          <font id="size">
            <%= enroll.percentage %>%
          </font>
        </td>
        <td>
          <font id="size">
            <%= enroll.lettergrade %>
          </font>
        </td>
      </tr>
    <% end %>
    <tr>
      <td id="links" colspan=4>
        <br>
        <input  type="button"
                onclick="location.href='/histogram';"
                value="Assign Grades" />
      </td>
    </tr>
  </tbody>
</table>

</div>
<hr>
<%= link_to 'Back', courses_path %>

</div>
